In [12]:
import os
import matplotlib.pyplot as plt
import pandas as pd

from Utils.UtilsGeoViz import *
from Utils.DataExtractor import DataExtractor

Projects Data

In [5]:
# Read the data from the database
db_extractor = DataExtractor()
db = "kdd_2014"
cols_to_select = ["projectid", "schoolid", "school_county", 
                  "school_latitude", "school_longitude"]
cols_to_select_str = ','.join(cols_to_select)
table_name = "projects"
query = "SELECT " + cols_to_select_str + " FROM " + table_name + ";"
projects_data = db_extractor.read_db(db="kdd_2014", query=query, host="localhost", user="root", pwd="root")
projects_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>projectid</th>
      <th>schoolid</th>
      <th>school_county</th>
      <th>school_latitude</th>
      <th>school_longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>316ed8fb3b81402ff6ac8f721bb31192</td>
      <td>c0e6ce89b244764085691a1b8e28cb81</td>
      <td>Fresno</td>
      <td>36.576340</td>
      <td>-119.608713</td>
    </tr>
    <tr>
      <th>1</th>
      <td>90de744e368a7e4883223ca49318ae30</td>
      <td>d711e47810900c96f26a5d0be30c446d</td>
      <td>Dallas</td>
      <td>32.911179</td>
      <td>-96.723640</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32943bb1063267de6ed19fc0ceb4b9a7</td>
      <td>665c3613013ba0a66e3a2a26b89f1b68</td>
      <td>Clackamas</td>
      <td>45.166039</td>
      <td>-122.414576</td>
    </tr>
    <tr>
      <th>3</th>
      <td>bb18f409abda2f264d5acda8cab577a9</td>
      <td>4f12c3fa0c1cce823c7ba1df57e90ccb</td>
      <td>Kings (Brooklyn)</td>
      <td>40.641727</td>
      <td>-73.965655</td>
    </tr>
    <tr>
      <th>4</th>
      <td>24761b686e18e5eace634607acbcc19f</td>
      <td>10179fd362d7b8cf0e89baa1ca3025bb</td>
      <td>Los Angeles</td>
      <td>34.043939</td>
      <td>-118.288371</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
_path = os.getcwd()
path = os.path.join(_path, "res")
county_geojson_fpath = os.path.join(path, "gz_2010_us_050_00_500k.json")
US_coord = [37.0902, -102]

In [35]:
county_schoolconc_data = projects_data[["school_county", "schoolid"]].groupby(by="school_county", as_index=False).count()
th_scale = get_th_scale(data=county_schoolconc_data, col="schoolid", n_steps=4)

In [36]:
school_loc_data = projects_data[["school_latitude", "school_longitude", "schoolid"]]
school_loc_group = school_loc_data.groupby(by=["school_latitude", "school_longitude"], as_index=False, 
                                           sort=False).count()

lats=list(school_loc_group["school_latitude"].values)
lons=list(school_loc_group["school_longitude"].values)
mag=list(school_loc_group["schoolid"].values)

In [48]:
# Make the map now
m1 = folium.Map(location=US_coord, tiles='OpenStreetMap', zoom_start=4)
m1 = add_heatmap(m1=m1, lats=lats, lons=lons, mag=mag, radius=11, name="ProjectsHeatMap")
m1 = add_choroplethmap(m1=m1, data=county_schoolconc_data,
                       json_path=county_geojson_fpath, 
                       json_key='feature.properties.NAME', 
                       threshold_scale=th_scale,
                       name="ProjectsCountyMap")

Donations Data

In [3]:
# Read the data from the database
db_extractor = DataExtractor()
db = "kdd_2014"
cols_to_select = ["donationid", "projectid"]
cols_to_select_str = ','.join(cols_to_select)
table_name = "donations"
query = "SELECT " + cols_to_select_str + " FROM " + table_name + ";"
donations_data = db_extractor.read_db(db="kdd_2014", query=query, host="localhost", user="root", pwd="root")
donations_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>donationid</th>
      <th>projectid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>431d720bc3dfd75ae445a5eaa0b0638d</td>
      <td>ffffac55ee02a49d1abc87ba6fc61135</td>
    </tr>
    <tr>
      <th>1</th>
      <td>fcfedba1c8a0ba77d280cace80a909f6</td>
      <td>ffffac55ee02a49d1abc87ba6fc61135</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3fa95d29986aa6f401c6719ced3a3ce7</td>
      <td>ffffac55ee02a49d1abc87ba6fc61135</td>
    </tr>
    <tr>
      <th>3</th>
      <td>020ad6bd5e88a35741d23b5e08f8b8e8</td>
      <td>ffffac55ee02a49d1abc87ba6fc61135</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4b44b03f304d6425ae94446686f93cd6</td>
      <td>ffffac55ee02a49d1abc87ba6fc61135</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
merged_data = pd.merge(left=projects_data, right=donations_data, how="inner")

In [38]:
# Make a heatmap of what projects got funded
county_donated_data = merged_data[["school_county", "donationid"]].groupby(by="school_county", 
                                                                              as_index=False).count()
th_scale = get_th_scale(data=county_donated_data, col="donationid", n_steps=5)

In [39]:
school_loc_data = merged_data[["school_latitude", "school_longitude", "donationid"]]
school_loc_group = school_loc_data.groupby(by=["school_latitude", "school_longitude"], 
                                           as_index=False, sort=False).count()

lats=list(school_loc_group["school_latitude"].values)
lons=list(school_loc_group["school_longitude"].values)
mag=list(school_loc_group["donationid"].values)

In [49]:
m1 = add_heatmap(m1=m1, lats=lats, lons=lons, mag=mag, radius=11, name="DonationsHeatMap")
m1 = add_choroplethmap(m1=m1, data=county_donated_data,
                       json_path=county_geojson_fpath, 
                       json_key='feature.properties.NAME', 
                       threshold_scale=th_scale,
                       name="DonationsCountyMap",
                       color="Greens")

In [51]:
# add the layer control
folium.LayerControl().add_to(m1)
m1.render()
m1
open_map_in_browser(geomap=m1, path=os.path.join(path, 'SpatialAnalysis.html'))